.default {
  background: var(--bg_0);
  width: 100%;
  height: 100%;
  // bg colors
  --bg_0: #000;
  --bg_100: #0f0f0f;
  --bg_200: rgb(34, 34, 34);

  // text colors
  --text_0: #c9d1d9;
  --text_100: #8b949e;
  --text_200: #707780;

  // main palette
  --primary_0: #000;
  --primary_100: #000;
  --primary_200: #000;

  --secondary_0: #000;
  --secondary_100: #000;
  --secondary_200: #000;

  --accent_0: #000;
  --accent_100: #000;
  --accent_200: #000;

  // ui statuses
  --success_0: rgb(0, 255, 76);
  --success_100: rgb(0, 255, 76);
  --success_200: rgb(0, 255, 76);

  --warning_0: rgb(0, 255, 76);
  --warning_100: rgb(0, 255, 76);
  --warning_200: rgb(0, 255, 76);

  --danger_0: rgb(0, 255, 76);
  --danger_100: rgb(0, 255, 76);
  --danger_200: rgb(0, 255, 76);
}
